@page
@model Gateway.Pages.IndexModel
<!doctype html>
<html>

<head>
    <title>Gateway Driver</title>
</head>

<body>
    <h1>Gateway Driver</h1>
    <script src="~/js/main.js">
    </script>
</body>

</html>
